$BigShoulders:'Big Shoulders Display',
cursive;
$LexenDeca: 'Lexend Deca',
sans-serif;

$orange: hsl(31, 77%, 52%);
$dcyan: hsl(184, 100%, 22%);
$vdarkcyan: hsl(179, 100%, 13%);
$w: hsla(0, 0%, 100%, 0.75);
$lg: hsl(0, 0%, 95%);