@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@import "variables";
@import "mixins";


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 62.5%;
}

body {
    font: {
        family: $LexenDeca;
        size: 1.6rem;
    }
}

.body__container {
    background: $lg;
    padding: 8.5rem 0;
    min-height: 100vh;
    display: none;

    @include breakpoint(900px) {
        @include ie11 {
            height: 100vh;
        }
    }

    &--show {
        display: block;
    }
}

.column__preview__card {
    width: clamp(30rem, 87.5%, 92.2rem);
    border-radius: 1.2rem;
    margin: 0 auto;
    overflow: hidden;

    @include ie11 {
        width: 87.5%;
        min-width: 30rem;
        max-width: 92.2rem;
    }

    @include breakpoint(800px) {
        @include d-flex(flex, center, flex-start)
    }



    &-block {
        padding: 4.5rem;

        @include breakpoint(800px) {
            padding: 0 4.5rem;
            height: 50rem;
            @include d-flex(flex, center, center);
        }

        &--Sedans {
            background: $orange;

            .column__preview__card-btn {
                color: $orange;
            }
        }

        &--Suvs {
            background: $dcyan;

            .column__preview__card-btn {
                color: $dcyan;
            }
        }

        &--Luxury {
            background: $vdarkcyan;

            .column__preview__card-btn {
                color: $vdarkcyan;
            }
        }

        &--Sedans,
        &--Suvs,
        &--Luxury {
            .column__preview__card-btn {

                &:hover,
                &:active {
                    border-color: $lg;
                    background: transparent;
                    color: $lg;
                }
            }
        }
    }

    &-headline,
    &-description {
        margin-top: 3.2rem;
    }

    &-headline {
        color: $lg;
        text-transform: uppercase;

        font: {
            family: $BigShoulders;
            size: 4rem;
        }
    }

    &-description {
        color: $w;
        font-size: 1.5rem;
    }

    &-btn {
        margin-top: 2.5rem;
        font-family: inherit;
        background-color: $lg;
        outline: none;
        border: 2px solid transparent;
        height: 4.7rem;
        line-height: 1;
        padding: 0 2.9rem;
        border-radius: 2.5rem;
        cursor: pointer;
        -webkit-transition: color .5s ease,
            border-color .5s ease,
            background .5s ease;
        transition: color .5s ease,
            border-color .5s ease,
            background .5s ease;

        @include breakpoint(800px) {
            margin-top: 7.8rem
        }
    }

}